body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    text-align: center;
}

.button-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    flex: 1 1 auto;
    min-width: 120px;
}

button:hover {
    background-color: #0056b3;
}

#chart {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    position: relative;
    overflow: auto; /* Ensure the chart area can scroll if content overflows */
}

.server {
    stroke: #333;
    cursor: pointer;
}

.hidden {
    display: none;
}

#server-details {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    position: relative; /* Ensure it stays in the flow of the document */
}

@media (max-width: 768px) {
    svg {
        width: 100% !important;
        height: auto !important;
    }
}
